body {
    background-image: repeating-linear-gradient(rgb(3, 8, 36), rgb(11, 16, 43), rgb(38, 41, 61));
}

.header {
    background-image: repeating-linear-gradient(#0f3f8c, #2f528a, #4c648b);
}

.text {
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}

.center {
    text-align: center;
}

.video {
    width: 100%;
    height: 300px;
}


/* 
    CUTE ANIMATION
*/

#canvas {
    width: 100%;
    height: 250px;
    position: relative;
    background-color: black;
    border-width: 5px;
    border-color: rgb(43, 43, 160);
    border-style: groove;
}

#main {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(100, 201, 70);
}

#shadow0 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(105, 201, 80);
}

#shadow1 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(110, 201, 90);
}

#shadow2 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(115, 201, 100);
}

#shadow3 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(120, 201, 110);
}

#shadow4 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(125, 201, 120);
}

#shadow5 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(130, 201, 130);
}

#shadow6 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(135, 201, 140);
}

#shadow7 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(140, 201, 150);
}

#collision0 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(110, 177, 154);
    visibility: hidden;
}

#collision1 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(110, 177, 154);
    visibility: hidden;
}

#collision2 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(110, 177, 154);
    visibility: hidden;
}

#collision3 {
    width: 5px;
    height: 5px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(110, 177, 154);
    visibility: hidden;
}